{% include 'nav.html' %}
{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">

  <!-- This element is added by Laravel -->
  <form method="post">
    {% csrf_token %}
    <h1>Camera Details</h1>
    <hr>

      <!-- edit form column -->
      <div class="col-md-7 personal-info">

        <h3>Personal info</h3>

        <div class='msg' id="msg"></div>

        <!-- Change this to a <form> to reproduce your original issue -->
        <div class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Camera ID:</label>
            <div class="col-lg-8">
              <input class="form-control" name="CamID" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Camera IP:</label>
            <div class="col-lg-8">
              <input class="form-control" name="CamIP" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Camera Location:</label>
            <div class="col-lg-8">
              <input class="form-control" name="CamLoc" type="text" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Camera Motion:</label>
            <div class="col-lg-8">
              <input class="form-control" name="CamMotion" type="text">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Camera Detect:</label>
            <div class="col-lg-8">
              <input class="form-control" name="CamDetect" type="text">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <a href="/statics"> <input type="button" href="/statics" class="btn btn-default" value="Cancel"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

<hr>
</form>
</div>
{% endblock content%}