<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled"
            >Disabled</a
          >
        </div>
      </div>
    </div>
  </nav> -->

  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #cadbd8;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: rgb(68, 62, 150);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: rgb(68, 62, 150);
      color:whitesmoke;
    }
    
    .active {
      background-color: #04AA6D;
    }
    </style>
    </head>
    <body>
    <!-- <a href="{% url 'login' %}"> login</a> -->
    <ul>
      <li><a href="/statics">Statics</a></li>  
      <li><a href="/add_profile">Add Profile</a></li>
      <li><a href="/add_camera">Add Camera</a></li>
      <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
    </ul>
    </body>
    </html>
    
    
    